<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<Configuration status="WARN">
  <appenders>
    <File name="FILE" filename="app.log" append="true">
        <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level- %msg%n"/>
    </File>
    <Console name="CONSOLE" target="SYSTEM_OUT">
        <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level- %msg%n"/>
    </Console>
  </appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="FILE"/>
      <AppenderRef ref="CONSOLE"/>
    </Root>
  </Loggers>
</Configuration>